{% extends 'admin/base.html' %}

{% block tableName %}Таблица заказов{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col"><a href="{{ url_for('admin.orders', sort='id') }}">ID</a></th>
        <th scope="col"><a href="{{ url_for('admin.orders', sort='status') }}">Статус</a></th>
        <th scope="col"><a href="{{ url_for('admin.orders', sort='start_rent') }}">Дата</a></th>
        <th scope="col"><a href="{{ url_for('admin.orders', sort='end_rent') }}">Конец</a></th>
        <th scope="col"><a href="{{ url_for('admin.orders', sort='book') }}">id книги</a>
        </th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.start_rent }}</td>
        <td>{{ order.end_rent }}</td>
        <td>{{ order.book }}
        </td>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                <form action="{{ url_for('admin.delete', object='order', id_object=order.id) }}">
                    {{ form.submit(value='Удалить') }}
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}