{% extends 'admin/base.html' %}

{% block tableName %}Таблица пользователей{% endblock %}
{% block content %}

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col"><a href="{{ url_for('admin.users', sort='id') }}">ID</a></th>
        <th scope="col"><a href="{{ url_for('admin.users', sort='username') }}">Имя</a></th>
        <th scope="col"><a href="{{ url_for('admin.users', sort='email') }}">Почта</a></th>
        <th scope="col"><a href="{{ url_for('admin.users', sort='telegram') }}">Телеграмм</a></th>
        <th scope="col"><a href="{{ url_for('admin.users', sort='last_seen') }}">Посещение</a></th>
        <th scope="col"><a href="{{ url_for('admin.users', sort='password_hash') }}">PassHash</a></th>
        </th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr data-id="{{ user.id }}">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telegram }}</td>
        <td>{{ user.last_seen }}</td>
        <td>{{ user.password_hash }}</td>
        <td>
            <a href="{{ url_for('admin.delete', object='user', id_object=user.id) }}"
               class="btn btn-outline-danger btn-sm">Удалить</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
