{% extends "public/header.html" %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <div class="form-group">
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endif %}
{% endwith %}

<form method="POST">
    <div class="container">
        <div class="form-group">
            <label for="">Логин</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                   placeholder="Введите ваш логин" name="login">
        </div>
        <div class="form-group">
            <label for="">Пароль</label>
            <input type="password" class="form-control" id=""
                   placeholder="Введите ваш пароль" name="password">
        </div>
        <div class="form-group">
            <label for="">Пароль</label>
            <input type="password" class="form-control" id=""
                   placeholder="Повторите пароль" name="password2">
        </div>
        <div class="form-group">
            <label for=""></label>
        </div>
        <a href="{{ url_for('login_page') }}" class="btn btn-light">Вход</a>
        <button type="submit" value="Register" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
{% endblock %}
