{% extends "base.html" %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>Добавление товара</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Цена"><br>
        <input type="text" class="form-control" name="category" id="category" placeholder="Жанр"><br>
        <input type="text" class="form-control" name="author" id="author" placeholder="Автор"><br>
        <input type="number" class="form-control" name="year" id="year" placeholder="Год"><br>
        <button class="btn btn-success" type="submit">Добавить товар</button>
    </form>
</div>
{% endblock %}
