<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная странница</title>
</head>
<body>
<h2>Сообщения</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Добавить сообщение</button>
    <a href="{{ url_for('logout') }}">Выйти</a>
</form>

<h3>Лента</h3>
{% for message in messages %}
<div>{{ message.text }}&nbsp;
    {% for tag in message.tags %}
        <b>#{{ tag.text }}</b>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>