{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="text-center px-3 py-5">
    <h1 class="display-4">Книги</h1>
    <p class="lead">Корабли мысли, странствующие по волнам времени и бережно несущие свой драгоценный груз от поколения
        к поколению.</p>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
            {% for book in data %}
            <div class="col">
                <div class="card shadow-sm" style="max-width: 300px; height: 42ы0px; margin: auto;">
                    <img src="{{ book.image_link }}" class="card-img-top" alt="{{ book.name }}"
                         style="max-height: 400px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {{ book.name }}</h5>
                        <p class="card-text"
                           style="flex-grow: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Автор:
                            {{ book.author }}</p>
                        <p class="card-text">Год: {{ book.year }}</p>
                        <p class="card-text">Жанр: {{ book.category }}</p>
                        <p class="card-text">Цена: {{ book.price }} ₽</p>

                        <!-- Выпадающий список -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                    id="dropdownMenuButton{{ book.id }}" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ book.id }}">
                                <li><a class="dropdown-item" href="/buy/{{ book.id }}"
                                       target="_blank"><strong>Купить</strong></a></li>
                                <li><a class="dropdown-item" href="/rent/14/{{ book.id }}" target="_blank"><strong>Аренда</strong>
                                    - 2 нед</a></li>
                                <li><a class="dropdown-item" href="/rent/31/{{ book.id }}" target="_blank"><strong>Аренда</strong>
                                    - мес</a></li>
                                <li><a class="dropdown-item" href="/rent/93/{{ book.id }}" target="_blank"><strong>Аренда</strong>
                                    - 3 мес</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}